@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Twinkle+Star&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Twinkle+Star&display=swap');

body {
    margin: 0;
    padding: 0;   
    background: url(../pages/assets/imglogin/img.fondo.webp) no-repeat center top;
    background-size: cover;
    font-family: sans-serif;
    height: 100vh;
  
}


header {
    position: fixed;
    width: 100vw;
  }
  
  nav {
    width: 100%;
  }
  
  
  .logo {
    display: flex;
    float: left;
    margin-right: 10px;
    margin-left: 20px;
    position: relative;
    z-index: 9999;
    width: 45px;
    height: 35px;
  }
  
  .logo img {
    width: 45px;
    height: 35px;
    margin-right: 10px;
    display: flex;
    filter: brightness(1);
  
  }
  
  #menu-visible {
    display: none;
  }
  
  #menuToggle {
    display: flex;
    justify-content: flex-end;
    color: #ffffff;
    font-size: 18px;
    padding: 8px 20px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    list-style-type: none;
    position: relative;
    z-index: 9;
  }
  
  #menuToggle.fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }
  
  .logo.fixed {
    position: fixed;
    top: 10px;
    left: 20px;
    z-index: 999;
  }
  
  .material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24,
  }
  
  ul#menu {
    list-style: none;
    width: 200px;
    text-align: center;
    padding: 1rem;
    position: absolute;
    z-index: 2;
    /* Asegura que el menú esté por encima de la imagen */
  }
  
  ul#menu li {
    opacity: 0;
    transition: 0.5s all cubic-bezier(0.31, -0.105, 0.43, 1.4);
    font-family: 'Figtree', sans-serif;
  }
  
  
  ul#menu li:nth-child(even) {
    transform: translateX(50px);
  }
  
  ul#menu li:nth-child(odd) {
    transform: translateX(-50px);
  }
  
  
  ul#menu li:nth-child(1) {
    transition-delay: 0.1s;
  }
  
  
  ul#menu li:nth-child(2) {
    transition-delay: 0.2s;
  }
  
  
  ul#menu li:nth-child(3) {
    transition-delay: 0.3s;
  }
  
  ul#menu li:nth-child(4) {
    transition-delay: 0.4s;
  }
  
  ul#menu.active li {
    opacity: 1;
    transform: translateX(0px);
    padding: .2rem;
  }
  
  ul#menu li a {
    background-color: #242424;
    display: block;
    font-weight: 500;
    font-size: 15px;
    color: #fff;
    text-decoration: none;
    border-radius: 3rem;
    padding: .3rem;
  
  }
  
  .enlaces {
    
    text-decoration: none;
    color: #2B2B2B;
  }
  
  .enlaces:hover {
    color: #201f1f;
  }
  

.directory {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 2vw;
    font-family: "Montserrat", sans-serif;
    gap: 2px;
    color: #fff;
}

.directory a {
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    color: #C0AA83;
}

.container {
    font-family: "Montserrat", sans-serif;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}
.form{
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 90%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #24242463;
}

button {
    font-family: "Montserrat", sans-serif;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 4px;
    background-color: #242424;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #242424d0;
}

